:root {
  --font: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes linkFade {
  from { color: #ffffff; }
  to { color: #5865f2;}
}

@keyframes buttonFade {
  from { background-color: #ffffff; color: #1c2022; border-color: #ffffff;}
  to { background-color: #5865f2; color: #ffffff; border-color: #5865f2; }
}

@keyframes mainButtonFade {
  from { background-color: #5865f2; color: #ffffff; border-color: #5865f2; }
  to {background-color: #ffffff; color: #1c2022; border-color: #ffffff; }
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #2c2f33;
  min-height: screen;
  overflow-x: hidden;
}

header, main {
  color: #ffffff;
  text-align: center;
  font-family: var(--font, Verdana);
}

#add_bot {
  color: #ffffff;
  width: 17rem;
  height: 4rem;
  padding: 1rem;
  background-color: #5865f2;
  border-radius: 50px;
  font-size: 1.5rem;
  border: 2px solid;
  border-color: #5865f2;
  margin-bottom: 50px;
}

#add_bot:hover {
  animation: mainButtonFade 1s forwards;
  cursor: pointer;
}

.directory {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #1c2022;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add_btn {
  font-family: var(--font, Verdana);
  border-radius: 12px;
  height: 2rem;
  width: 10rem;
  border: 2px solid #ffffff;
  color: #2c2f33;
  margin-right: 20px;
}

.add_btn:hover {
  animation: buttonFade 0.7s forwards;
  cursor: pointer;
}

a:link {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}

a:hover {
  color: #5865f2;
  animation: linkFade 1s forwards;
}

#logo {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  font-weight: bold;
}

.features {
  display: grid;
  gap: 100px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.item {
  margin: 20px 0 20px 0;
  padding: 10px;
  background-color: #5865f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  color: #ffffff;
  width: 200px;
}

#desc {
  text-align: center;
  margin: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  font-family: var(--font, Verdana);
  background-color: #1c2022;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a:link {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .directory {
    width: 100vw;
    padding: 0;

    a {
      margin: 10px;
    }
    
    .add_btn {
      margin: 10px 0 10px 10px;
    }
  }

  .features {
    gap: 10px;
  }

  footer {
    width: 100vw;
  }
}